{% spaceless %}
<script src="http://widgets.twimg.com/j/2/widget.js"></script>
<script>
new TWTR.Widget({
    version: 2,
    type: 'profile',
    rpp: {{ rpp|default:"30000" }},
    interval: {{ interval|default:"30000" }},
    width: {{ width|default:"380" }},
    height: {{ height|default:"150" }},
    theme: {
        shell: {
            background: '{{ shell_background|default:"#777777" }}',
            color: '{{ shell_color|default:"#ffffff" }}'
        },
        tweets: {
            background: '{{ tweets_background|default:"#eeeeee" }}',
            color: '{{ tweets_color|default:"#333333" }}',
            links: '{{ tweets_links|default:"#226699" }}'
        }
    },
    features: {
        scrollbar: {{ scrollbar|default:"true" }},
        loop: {{ loop|default:"false" }},
        live: {{ live|default:"true" }},
        hashtags: {{ hashtags|default:"true" }},
        timestamp: {{ timestamp|default:"true" }},
        avatars: {{ avatars|default:"false" }},
        behavior: '{{ behavior|default:"all" }}'
    }
}).render().setUser('{{ username}}').start();
</script>
{% endspaceless %}
